/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  background: url(https://wallpapers.com/images/hd/cyberpunk-night-city-l1owma2462m47wz6.jpg) no-repeat;
  height: 100vh;
  width: 100vw;
}
