@font-face {
  font-family: "Norse Bold";
  src: url(assets/font/Norse-Bold.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Sidebar */
img {
  height: 100px;
  width: 60px;
}

.container {
  background: url(https://wallpapers.com/images/hd/cyberpunk-night-city-l1owma2462m47wz6.jpg)
    no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}

.sidebar {
  width: 500px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.form-container {
  background-color: lightgray;
}

aside p,
aside h1 {
  color: #fff;
}

aside h1 {
  font-family: "Norse Bold", sans-serif;
  font-size: 5rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  top: 150px;
  padding: 10px;
}

.sidebar p {
  margin-top: auto;
  padding: 15px;
  font-size: 0.8rem;
}

.sidebar p a {
  color: fuchsia;
  text-shadow: black;
  text-decoration: none;
}

/* Form */

.form-container {
  width: 100vw;
}

form {
  font-family: "Arial", sans-serif;
}

.info-container {
  padding: 30px;
}

.info-container p {
  width: 60ch;
}

.info-container p {
  font-weight: bold;
}

.secondary-info {
  margin-top: 20px;
}

.input-container {
  background-color: #fff;
  padding: 10px 30px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}

.input-container h2 {
  color: #333;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  font-size: 0.8em;
  color: #666;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  font-size: 1em;
  border-radius: 4px;
}

.submit,
form .form-footer {
  margin: 20px 0 0 30px;
}

form .form-footer {
  font-weight: bold;
}

form .form-footer a {
  color: navy;
  text-decoration: none;
}

.submit {
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  background-color: blue;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: navy;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
